.nurseInfo{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background: var(--color-bg-slide-1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nurseInfo-wrapper{
    background-color: white;
    margin: 60px;
    padding: 20px 10px;
    border: 5px solid white;
    border-radius: 5px;
    height: 90vh;
    width: 55vw;
    text-align: center;
}

.nurseInfo-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.nurseInfo-icon{
    width: 320px;
    height: 100px;
    border-radius: 10px; 
}

.nurseInfo-button {
    margin-top: 10px;
    position: relative;
    appearance: none;
    border: black 2px solid !important;
    background-color: white;
    color: black ;
    font-weight: bold;
    padding: .5em 1em;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    width: 200px;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
}

.mic-button {
    margin-top: 10px;
    position: absolute;
    appearance: none;
    border: black 2px solid !important;
    background-color: white;
    color: black ;
    font-weight: bold;
    padding: 1em .5em;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    right: 0;
    width: 180px;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}


.mic-image{
    width: 30px;
}

.clip-icon{
    width: 100px;
    position: absolute;
}

.button-wrapper{
}

.active{
    color: white;
    background-color: black;
}