
.hospitalInfo--vedio{
position: relative;
height: 300px;
width: 100%;
}

/* Slideshow */
.slideshow {
	position: absolute;
	top: 0;
	left: 0;
}

.slide {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	pointer-events: none;
	opacity: 0;
	z-index: 1;
}

.slide--current {
	opacity: 1;
	pointer-events: auto;
	z-index: 100;
}

.slide__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.slide__bg--1 {
	background: var(--color-bg-slide-1);
}

.slidenav {
	position: relative;
	margin: 16em 0 0 0;
	z-index: 200;
}

.slidenav__item {
	background: none;
	border: none;
	font-size: 1.5em;
	color: var(--color-nav);
	margin: 1em;
}

.slidenav__item:focus {
	outline: none;
}

.slidenav__item:hover {
	opacity: 0.6;
}

.slidenav__item--next .icon {
	transform: rotate(180deg);
}

/* Word + SVG styles */
.word {
	position: relative;
	text-align: center;
    margin: 0 0 0.25em 0;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    grid-area: title;
    font-size: 5vw;
	font-weight: 400;
}


.word--answer{
	z-index: 100;
}
.word--question{
	margin-top: 10vw;
}
.word--1 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9vw;
}

.word--2 {
	font-family: 'Arbutus Slab', serif;
}

.word--3 {
	font-family: 'Questrial', sans-serif;
}

.word--4 {
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
}

.word--5 {
	font-family: 'Bungee Outline', cursive;
}

.word--6 {
	font-family: 'Hammersmith One', sans-serif;
}

.word--6 .char5,
.word--6 .char9 {
	color: #fff;
}

.word--7 {
	font-family: 'Volkhov', serif;
	font-weight: 700;
}

.word--8 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	text-transform: lowercase;
	letter-spacing: -0.05em;
	color: #fff;
}

.word--9 {
	font-family: 'Montserrat Alternates', serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 8vw;
}

.shapes {
	position: fixed;
	top: 0;
	left: 0;
}

@media screen and (max-width: 40em) {
	.slide .word {
		font-size: 2em;
	}
}

.close {
	position: absolute !important;
	top: 20px;
	left: 20px;
	z-index: 9999;
	color: #fff;
	/* border-radius: 50%; */
	padding: 15px !important;
}
